.logo {
  display: flex;
  flex-direction: column;
  margin: 0 0 60px;
  padding-top: 60px;

  @include bp(large) {
    margin-bottom: 150px;
    padding-top: 90px;
  }

  img {
    margin: 0 0 60px;
    width: 100%;
    max-width: 220px;

    @include bp(large) {
      margin-bottom: 150px;
    }
  }

  h2 {
    font-size: remCalc(50px);
    color: $c-blue;
  }
}
