.logo {
  display: flex;
  flex-direction: column;
  margin: 0 0 60px 0;
  padding-top: 60px;

  @include bp(large) {
    margin: 0 0 150px 0;
    padding-top: 150px;
  }

  img {
    margin: 0 0 40px;
    width: 100%;
    max-width: 70%;

    @include bp(large) {
      max-width: 550px;
    }
  }

  h2 {
    font-size: remCalc(38px);
  }
}
