//////////////////////////////
// Project Specific Variables
//////////////////////////////

// Project Specific breakpoints
$breakpoints: ();

// Merge $fine_breakpoints and $breakpoints to use with bp() mixin
$breakpoints: map-merge($fine-breakpoints, $breakpoints);

$c-blue: #00F;

$grays: (
  0: #f4f4f4,
  50: #9a9a9a,
  100: #3d3d3d
);

$f-bitstream: 'bitstream_vera_sans_monoroman', $f-monospace;

$f-headline: $f-bitstream;
$f-content: $f-bitstream;

$em-base: 22px;
