.layout-form {
  margin: 80px auto;

  h2 {
    margin-bottom: remCalc(40px);
  }

  .inner {
    padding: 0 20px;
    width: 100%;
  }
}

fieldset {
  padding: 0;
  margin: 0 0 remCalc(40px);
}

label {
  display: block;
  margin-bottom: 5px;
  text-transform: lowercase;

  small {
    font-style: italic;
    font-size: 0.5em
  }
}

fieldset,
input,
textarea {
  max-width: 440px;
}

input,
textarea {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 10px;
  border: 1px solid gray(100);
  font-family: inherit;
  display: block;
  width: 100%;
}

textarea {
  font-size: remCalc(19px);
}

.button,
input[type="submit"] {
  width: auto;
  background: $c-blue;
  border: 0;
  color: $c-white;
  cursor: pointer;
}
