@font-face {
  font-family: 'varela_roundregular';
  src: font-url('varelaround-regular-webfont.woff2') format('woff2'),
       font-url('varelaround-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitstream_vera_sans_monoroman';
  src: font-url('VeraMono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
