.logo {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 60px 0;

  @include bp(large) {
    margin: 120px 0;
  }

  img {
    margin: 0 auto 30px;
    width: 100%;
    max-width: 70%;

    @include bp(large) {
      max-width: 550px;
    }
  }

  h2 {
    font-size: 38px;
  }
}
