//===
//Utility classes (single-purpose)
//===
.u {
  &-hidden {
    display: none;
  }

  &-stop_scrolling {
    overflow: hidden;
    height: 100%;
  }

  &-nowrap {
    white-space: nowrap;
  }

  &-break {
    word-break: break-all;
    word-wrap: break-word;
  }

  //For use with "onScroll" JS function
  &-disable_hover,
  &-disable_hover * {
    @include bp(small-down) {
      // scss-lint:disable ImportantRule
      pointer-events: none !important;
    }
  }
}

.clearfix {
  @include clearfix;
}
