.avatar-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $c-blue;
  .inner {
    display: flex;
    align-items: center;
    div {
      border-radius: 500px;
      width: 60px;
      height: 60px;
      filter: grayscale(100);
      margin: 0 0 5px 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
    small {
      margin-right: 20px;
    }
  }
  ul {
    list-style: none;
    text-align: right;
  }
}
