.events {
  max-width: 800px;
  margin-bottom: 80px;
}

.event {
  justify-content: space-between;
  text-transform: lowercase;
  margin-bottom: 8px;

  @include bp(medium) {
    display: flex;
  }

  small {
    color: gray(50);
    font-size: remCalc(12px);
  }
}

.show-more {
  font-size: 0.8em;
  cursor: pointer;

  &:hover {
    color: $c-blue;
  }
}
