ruby:
  devs = [
    {
      name: 'Tim Shedor',
      image: 'https://avatars2.githubusercontent.com/u/865897?s=460&v=4',
      github: 'tshedor',
      skills: {
        'HTML & CSS' => 1,
        'JavaScript' => 0.9,
        'PHP, WordPress' => 0.8,
        'Ruby, Rails' => 0.7,
        'React, Redux, etc.' => 0.7,
        'Swift' => 0.4
      },
      tenure: '8+',
      url: 'https://timshedor.com/resume'
    },
    {
      name: 'Niles McGiver',
      image: 'https://avatars3.githubusercontent.com/u/4657767?s=460&v=4',
      github: 'nilesvm',
      skills: {
        'Ruby, Rails' => 0.9,
        'JavaScript' => 0.8,
        'React' => 0.7,
        'Non-profits' => 0.7,
        'PHP' => 0.6,
        'Python' => 0.6
      },
      tenure: '4+',
      url: 'http://www.mcgiver.io/'
    },
    {
      name: 'Will Chertoff',
      image: 'https://avatars0.githubusercontent.com/u/9339964?s=460&v=4',
      github: 'willchertoff',
      skills: {
        'JavaScript' => 0.8,
        'React, Redux, etc.' => 0.8,
        'PHP, WordPress' => 0.6,
        'Graphic Design' => 0.6,
        'Ruby, Rails' => 0.4
      },
      tenure: '3+',
      url: 'http://www.willchertoff.com/'
    }
  ]

.container
  h2 Next Event
  h3 02.07.18 | 6-9pm
  h3 Coffee Time | NW Portland

.container.-fill
  header: h2 Stuck.
  .content
    p You know the feeling. 11:34. Cache-clearing refreshes, stale coffee, and tufts of hair. There <em>has</em> to be a better way. Someone <em>must</em> know what I'm doing wrong.
    p Wether you're an entry programmer, a veteran exploring a new language, or a tech-adverse soul lost in a sea of WYSIWYG site generators, we're here to help. Join us for a few hours every other week as we field your ranging questions:
    p Should I update my WordPress plugins? Can I use ES6 in a webpack file? How do I configure continuous deployment to S3? What ever happened to Ray Romano?

.container
  h2 Who?
  .devs
    - devs.each do |dev|
      .dev-box
        a href="https://github.com/#{dev[:github]}"
          img src=dev[:image] alt=dev[:name]
        a href=dev[:url]
          h4
            = dev[:name]
            small #{dev[:tenure]} years
        ul.dev-skills
          - dev[:skills].each do |skill, proficiency|
            li style="opacity: #{proficiency}" = skill

.container.-fill
  header: h2 Why?
  .content
    p While StackOverflow is a great resource, pairing with someone who knows for even a few minutes. Not all of us are fortunate enough to have a CS degree or a principal mentor. We want to be that mentor we never had.
    p Or maybe you just need a quick website for your photography business but none of your friends know how to connect a custom domain to Squarespace. We want to be that friend.

.container
  header: h3 How long will you help?
  .content
    p As long as we can within reason. Some of us are freelancers; nothing's stopping an arrangement for extra-curricular services. But as long as we're hosting office hours, we're free.

.container
  header: h3 Can I join?
  .content
    p If you've got something to teach, we've got someone to learn. Show up at the next scheduled event and tap an organizer about being listed here.
    p Out-of-staters: <a href="mailto:askadevorg@gmail.com">drop us an email</a> and we'll work out how to open a chapter in your neighborhood.
