ruby:
  devs = [
    {
      name: 'Nichole Barrett',
      image: 'https://media.licdn.com/media/p/7/005/0b6/2db/2ed64e5.jpg',
      github: 'lechin',
      skills: {
        'Ruby, Rails' => 1,
        'MySQL' => 0.7,
        'HTML & CSS' => 0.4,
        'JavaScript' => 0.3,
      },
      tenure: '7+',
      url: 'https://github.com/lechin'
    },
    {
      name: 'Will Chertoff',
      image: 'https://avatars0.githubusercontent.com/u/9339964?s=460&v=4',
      github: 'willchertoff',
      skills: {
        'JavaScript' => 0.8,
        'React, Redux, etc.' => 0.7,
        'Graphic Design' => 0.5,
        'Ruby, Rails' => 0.2
      },
      tenure: '3+',
      url: 'https://github.com/willchertof'
    },
    {
      name: 'Niles McGiver',
      image: 'https://avatars3.githubusercontent.com/u/4657767?s=460&v=4',
      github: 'nilesvm',
      skills: {
        'Ruby, Rails' => 0.9,
        'JavaScript' => 0.8,
        'React' => 0.6,
        'Non-profits' => 0.6,
        'Python' => 0.4
      },
      tenure: '4+',
      url: 'http://www.mcgiver.io/'
    },
    {
      name: 'Tim Shedor',
      image: 'https://avatars2.githubusercontent.com/u/865897?s=460&v=4',
      github: 'tshedor',
      skills: {
        'HTML & CSS' => 1,
        'JavaScript' => 0.9,
        'PHP, WordPress' => 0.8,
        'Ruby, Rails' => 0.6,
        'React, Redux, etc.' => 0.5,
        'iOS, Swift' => 0.2
      },
      tenure: '8+',
      url: 'https://timshedor.com/resume'
    },
    # {
    #  name: 'Mark Hoffmann',
    #  image: 'https://avatars2.githubusercontent.com/u/772744?s=460&v=4',
    #  github: 'markhoffmann',
    #  skills: {
    #    'HTML & CSS' => 0.8,
    #    'JavaScript' => 0.7,
    #    'PHP' => 0.7,
    #    'Ruby, Rails' => 0.4
    #  },
    #  tenure: '11+',
    #  url: 'https://github.com/markhoffmann'
    #}
  ]

  events = [
    {
      location: 'Coffee Time',
      region: 'Portland',
      directions: 'https://www.google.com/maps/place/Coffee+Time/@45.527948,-122.694321,15z/data=!4m2!3m1!1s0x0:0x27d522da6baac463?sa=X&ved=0ahUKEwj8tayFyorZAhVYwGMKHQyIBMYQ_BIIezAK',
      time: '&nbsp;6-9pm',
      date: '02.07.18'
    },
    {
      location: 'Mandira Surf Stay',
      region: 'Bali',
      directions: 'https://www.google.com/maps/place/Jl.+Batu+Mejan+No.88,+Canggu,+Kuta+Utara,+Bandung,+Bali+80361,+Indonesia/@-8.6534173,115.1222975,17z/data=!3m1!4b1!4m5!3m4!1s0x2dd2387701e64d43:0x1e2d2f249331d27a!8m2!3d-8.6534173!4d115.1266749',
      time: '14:30-17:30',
      date: '02.09.18'
    },
    {
      location: 'Frisco Public Library',
      region: 'Dallas',
      directions: 'https://www.google.com/maps/place/Frisco+Public+Library/@33.1500739,-96.8342686,15z/data=!4m2!3m1!1s0x0:0x28635d817f578880?sa=X&ved=0ahUKEwjzhOvo_ZTZAhVQq1MKHdCHCnYQ_BIIezAN',
      time: '&nbsp;2-3pm',
      date: '02.09.18'
    },
    {
      location: 'Frisco Public Library',
      region: 'Dallas',
      directions: 'https://www.google.com/maps/place/Frisco+Public+Library/@33.1500739,-96.8342686,15z/data=!4m2!3m1!1s0x0:0x28635d817f578880?sa=X&ved=0ahUKEwjzhOvo_ZTZAhVQq1MKHdCHCnYQ_BIIezAN',
      time: '&nbsp;6-8pm',
      date: '02.12.18'
    },
    {
      location: 'Stonehouse Coffee',
      region: 'Austin',
      directions: 'https://www.google.com/maps/place/Stonehouse+Coffee+%26+Bar/@30.2552184,-97.8317618,12z/data=!4m17!1m11!4m10!1m3!2m2!1d-97.7493644!2d30.254477!1m5!1m1!1s0x8644b51f0dd4bc67:0x3731486cc2987cd5!2m2!1d-97.7617216!2d30.255237!3m4!1s0x8644b51f0dd4bc67:0x3731486cc2987cd5!8m2!3d30.255237!4d-97.7617216',
      time: '&nbsp;6-9pm',
      date: '02.14.18'
    },
    {
      location: 'Frisco Public Library',
      region: 'Dallas',
      directions: 'https://www.google.com/maps/place/Frisco+Public+Library/@33.1500739,-96.8342686,15z/data=!4m2!3m1!1s0x0:0x28635d817f578880?sa=X&ved=0ahUKEwjzhOvo_ZTZAhVQq1MKHdCHCnYQ_BIIezAN',
      time: '&nbsp;6-8pm',
      date: '02.15.18'
    },
    {
      location: 'Mandira Surf Stay',
      region: 'Bali',
      directions: 'https://www.google.com/maps/place/Jl.+Batu+Mejan+No.88,+Canggu,+Kuta+Utara,+Bandung,+Bali+80361,+Indonesia/@-8.6534173,115.1222975,17z/data=!3m1!4b1!4m5!3m4!1s0x2dd2387701e64d43:0x1e2d2f249331d27a!8m2!3d-8.6534173!4d115.1266749',
      time: '14:30-17:30',
      date: '02.16.18'
    },
    {
      location: 'Seven Virtues',
      region: 'Portland',
      directions: 'https://www.google.com/maps/place/Seven+Virtues+Coffee+Roasters+at+the+Zipper/@45.5204775,-122.6285427,14.92z/data=!4m8!1m2!2m1!1sSeven+Virtues!3m4!1s0x0:0xf62b96a9c33e9d44!8m2!3d45.5291552!4d-122.6376557',
      time: '10-1pm',
      date: '02.15.18'
    },
    {
      location: 'Coffee Time',
      region: 'Portland',
      directions: 'https://www.google.com/maps/place/Coffee+Time/@45.527948,-122.694321,15z/data=!4m2!3m1!1s0x0:0x27d522da6baac463?sa=X&ved=0ahUKEwj8tayFyorZAhVYwGMKHQyIBMYQ_BIIezAK',
      time: '&nbsp;6-9pm',
      date: '02.21.18'
    },
    {
      location: 'Joe Bar',
      region: 'Seattle',
      directions: 'https://www.google.com/maps/place/Joe+Bar/@47.625169,-122.321605,15z/data=!4m2!3m1!1s0x0:0x4b680a117991a622?sa=X&ved=0ahUKEwimqcTTrZLZAhUNymMKHa2rC0AQ_BIIhAEwCg',
      time: '&nbsp;6-9pm',
      date: '03.01.18'
    },
    {
      location: 'Seven Virtues',
      region: 'Portland',
      directions: 'https://www.google.com/maps/place/Seven+Virtues+Coffee+Roasters+at+the+Zipper/@45.5204775,-122.6285427,14.92z/data=!4m8!1m2!2m1!1sSeven+Virtues!3m4!1s0x0:0xf62b96a9c33e9d44!8m2!3d45.5291552!4d-122.6376557',
      time: '10-1pm',
      date: '03.01.18'
    },
    {
      location: 'Black Crow Coffee Shop',
      region: 'Tampa Bay',
      directions: 'https://www.google.com/maps/place/Black+Crow+Coffee+Shop/@27.7798004,-82.637945,17z/data=!3m1!4b1!4m5!3m4!1s0x88c2e17716f46179:0x2dfc7c17d43ce93a!8m2!3d27.7798004!4d-82.6357563',
      time: '&nbsp;1-3pm',
      date: '03.03.18'
    }
  ]

.container#upcoming-events
  h3 Upcoming Events
  .events
    - events.each do |event|
      .event
        .event-location
          a href=event[:directions] = event[:location]
          small< = event[:region]
        time.event-time
          == [event[:date], event[:time]].join(' ')

  .content
    p.helper We're expanding to Austin, Seattle, Denver, San Francisco, and more soon: please check back later for more events or <a href="#can-i-join">start a chapter in your city</a>

.container.-fill
  header: h2 Stuck.
  .content
    p You know the feeling. Cache-clearing refreshes, stale coffee, tufts of hair. There <em>has</em> to be a better way. Someone <em>must</em> know what I'm doing wrong.
    p Whether you're a new programmer, a veteran exploring a new language, or a tech-adverse soul lost in a sea of WYSIWYG site generators, we're here to help. Join us for a few hours every other week as we answer your frustrations:
    p Should I update my WordPress plugins? Can I use ES6 in a webpack file? How do I configure continuous deployment to S3? Does everybody still love Raymond?

.container
  h3 Who?
  .devs
    - devs.each do |dev|
      .dev-box
        header
          a href="https://github.com/#{dev[:github]}"
            img src=dev[:image] alt=dev[:name]
          a href=dev[:url]
            h4
              == dev[:name].split(' ').join('<br />')
              small #{dev[:tenure]} years
        ul.dev-skills
          - dev[:skills].each_with_index do |skill, idx|
            li style="opacity: #{skill[1]}" = skill[0]
            - if idx == 2
              li.show-more.js-show-more +see more

  br
  a href="#can-i-join" join the crew

.container.-fill
  header: h2 Why?
  .content
    p While you can Google your way out of any problem, pairing with someone just <em>feels better</em>. Not all of us are fortunate enough to claim a CS degree or enjoy the guidance of a senior. <strong>We want to be the mentor we never had.</strong>
    p Or maybe you need a quick website for your photography portfolio but can't connect a custom domain to Squarespace. <strong>We want to help.</strong>

.container
  header: h3 Where can I find you?
  .content
    p Check the most recent <a href="#upcoming-events">event listings</a> for upcoming meetups. We're not partnered, sanctioned, or affiliated with our public meeting places: we're just normal customers, so please plan to patronize. Organizers will be sporting the <a href=#{image_path('logo.svg')}>Ask a Dev logo</a>.

.container
  header: h3 How long will you help?
  .content
    p As long as we can within reason. Some problems are bigger than three hours, and while we <strong>are not</strong> here to solicit, extra-curricular freelancing is permissible. However, as long as we're hosting office hours, we're free.

.container#can-i-join
  header: h3 Can I join?
  .content
    p If you've got something to teach, we've got someone to learn. Show up at the next scheduled event and tap an organizer about being listed here.
    p Out of state? <a href="mailto:askadevorg@gmail.com">Drop us an email</a>, and we'll work on starting a chapter in your neighborhood.
